* {
	margin: 0;
	padding: 0;

	text-decoration: none;
	list-style: none;

	font-family: "Roboto", sans-serif;
}

.wrap {
	width: clamp(58%, 400px, 1700px);
}

body {
	min-height: 100vh;
	background: linear-gradient(to bottom, #0c0c0c 70%, #1d1909);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	display: flex;
	flex-direction: column;
	align-items: center;
}

header {
	margin-top: 0.5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

main {
	margin-top: 1%;
}

main h1,
h2 {
	letter-spacing: 1.5rem;
	font-weight: 200;
	margin-left: -0.25rem;
}

main h1 {
	font-size: 3rem;
}

main h2 {
	font-size: 2rem;
}

main hr {
	border: none;
	width: 2px;
	background: linear-gradient(to bottom, white, #a8963a);
	padding: 0.2rem 0 0.2rem 0;
}

main section {
	margin-top: 9%;
	margin-bottom: 5%;
	width: 100%;
}

main .content {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.content-left,
.content-right {
	display: flex;
	flex-direction: column;
}

.content-left {
	align-items: start;
}

.content-right {
	align-items: end;
}

.content-left p {
	margin-left: 1rem;
}

.content {
	margin-bottom: 1.5rem;
}

.content-wrap {
	width: 45%;
}

.text-right {
	text-align: right;
}

.align-right {
	margin-right: -1.2rem;
}

h1,
h2,
h3,
h4 {
	color: #ffffff;
	margin-bottom: 0.6rem;
	margin-top: 0.6rem;
	font-family: "Oswald", sans-serif;
}

p {
	color: #bbbbbb;
	font-size: 0.9rem;
}

.bold {
	font-weight: 700;
}

.main-logo {
	width: auto;
	height: 1rem;
}

.custom-button {
	color: #bbbbbb;
	border-radius: 0.5rem;
	padding: 0.1rem 0.5rem 0.1rem 0.5rem;
	background-color: transparent;
	border: 1px solid white;
	transition: all 0.3s ease-in-out;
}

.custom-button:hover {
	color: #a8963a;
	border-color: #a8963a;
}

.text-left {
	margin-left: -0.25rem !important;
}

.list-content {
	list-style: none;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: start;
}

.list-content li {
	padding: 0.2rem 0 0.2rem 0;
	color: #bbbbbb;
}

.list-content li i {
	margin-right: 0.3rem;
}

footer p {
	width: 100%;
	text-align: center;
}

.content-column {
	display: flex;
	flex-direction: column !important;
}

.links {
	height: 2rem;
	margin-top: 0.6rem;
	list-style: none;
	display: flex;
	flex-direction: row;
	justify-content: start;
	align-items: center;
	margin-left: -0.7rem;
}

.links i {
	color: #bbbbbb;
	display: block;
	padding: 0 0.6rem 0 0.6rem;
	font-size: 1.4rem;
	transition: 0.3s ease-in-out;
}

.links i:hover {
	color: #a8963a;
}
